@model PagedSearchResult<MappingListItem, MappingFilter>
@{
    ViewData["Title"] = "Mappings";
}

<h1>@ViewData["Title"]</h1>

<partial name="_SearchFilter" model="@Model.Filter" />

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Create" class="btn btn-primary btn-sm">Create</a>
            </th>
            <th><a asp-action="Sort" asp-route-sortField="Store.Name" asp-route-sortDirection="@(Model.Filter.SortField == "Store.Name" && Model.Filter.SortDirection == 0 ? 1 : 0)">Store</a></th>
            <th><a asp-action="Sort" asp-route-sortField="StoreSku" asp-route-sortDirection="@(Model.Filter.SortField == "StoreSku" && Model.Filter.SortDirection == 0 ? 1 : 0)">Store Sku</a></th>
            <th><a asp-action="Sort" asp-route-sortField="Product.Sku" asp-route-sortDirection="@(Model.Filter.SortField == "Product.Sku" && Model.Filter.SortDirection == 0 ? 1 : 0)">Sku</a></th>
            <th><a asp-action="Sort" asp-route-sortField="Product.Name" asp-route-sortDirection="@(Model.Filter.SortField == "Product.Name" && Model.Filter.SortDirection == 0 ? 1 : 0)">Name</a></th>
            <th>Qty Multiplier</th>
            <th><a asp-action="Sort" asp-route-sortField="Product.WarehouseLocation" asp-route-sortDirection="@(Model.Filter.SortField == "Product.WarehouseLocation" && Model.Filter.SortDirection == 0 ? 1 : 0)">WH Locs</a></th>
        </tr>
    </thead>
    <tbody>
    @if (Model.Results.MetaData.PageItemCount > 0)
    {
        foreach (var item in Model.Results.Items)
        {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Delete</a>
            </td>
            <td>@item.StoreName</td>
            <td>@item.StoreSku</td>
            <td><a asp-controller="Products" asp-action="Search" asp-route-ids="@item.ProductId" asp-route-showAll="true" target="_blank">@item.Sku</a></td>
            <td>@item.Name</td>
            <td>@item.QuantityMultiplier</td>
            <td>@item.WarehouseLocation</td>
        </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="5" class="bg-light text-muted">No results found</td>
        </tr>
    }
    </tbody>
</table>

<partial name="_Pagination" model="@Model.Results.MetaData" />
